.cust-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1000;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;

  background: white;
  border-bottom: 1px solid #e5e7eb;
}

.cust-logo {
  text-decoration: none;

  font-size: 2rem;
  font-weight: 800;

  color: #884e69;
}

.cust-navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cust-navbar-links {
  display: flex;
  gap: 10px;
}

.cust-navbar-links a {
  text-decoration: none;
  color: #1f2937;
  font-weight: 600;
  padding: 10px 14px;
  transition: 0.2s;
}

.cust-navbar-links a:hover {
  color: #884e69;
}

.cust-user {
  color: #4b5563;
  font-weight: 600;
}

.cust-logout-btn {
  border: none;
  cursor: pointer;

  background: #884e69;;
  color: white;

  padding: 12px 18px;
  border-radius: 12px;

  font-weight: 600;
}